
.column-1 {
  background-color: grey;
  float: left; 
  font-family: cursive;


}

section {
  width: 40%;
  border: 10px black solid; 
  border-radius: 8px;
  padding: 10px;
}

footer {
  clear: both;
  padding: 10px;   
}


.column-2 {
  background-color: grey;
  float: right;
  font-family: helvetica;
}